@import 'variables';

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/* –– BASE COMPONENTS –––––––––––––––––––––––––––––––––––––––––––––––––––––– */

a {
	text-decoration: none;
	color: #0081c3;
	font-weight: 200;

	&:hover {
		color: #00a3f6;
	}
}

em {
	font-weight: 300;
	font-style: normal;
}

ul {
	list-style-type: none;
}

.nbsp-full {
	display: inline;
	
	@media screen and (min-width: 759px) {
		display: inline-block;
	}
}

.lasso {
	width: 100%;
	max-width: $w_max;
	min-width: $w_min;
	overflow: visible;
	margin: 0 auto;

	#content > & {
		border-bottom-radius: 5px;
		box-shadow: 0 0 1px rgba($black, 0.4);
		padding: 30px 50px 70px 50px;
		border-top: 3px solid #0081c3;
		background: #fff;

		@media screen and (min-width: $w_max) {
			margin-bottom: 80px;
		}

		@media screen and (max-width: $bp_3) {
			padding: 20px;
		}
		@media screen and (max-width: $w_max) {
			border-radius: 0;
			box-shadow: none;
			border-top-width: 5px;
		}
	}
}

.badges {
	margin: 0;

	& > li {
		transition: none;
		background-size: contain;
		display: inline-block;
		background-repeat: no-repeat;
		margin-bottom: 10px;
		margin-right: 4%;
	}

	@mixin badge-custom( $imgName, $baseHeight, $badgeWidth ) {		
		margin: 40px 20px 20px 40px;

		@media screen and (max-width: $bp_4) { margin: 40px 0px 20px 20px; }
		@media screen and (max-width: $bp_2) { margin: 20px 20px 20px 40px; }
		@media screen and (max-width: $bp_0) { margin: 20px 0px 20px 20px; }

		& > li {
			background-image: url('../img/#{$imgName}.svg');
			width: $badgeWidth;
			height: $baseHeight;

			&.used {
				background-image: url('../img/#{$imgName}-used.svg');
			}

			@media screen and (max-width: $bp_4) { height: $baseHeight*0.8; }
			@media screen and (max-width: $bp_3) { height: $baseHeight*0.7; }
			@media screen and (max-width: $bp_2) { height: $baseHeight*0.4; }
		}
	}

	&.badges-cars	{ @include badge-custom('car', 92px, 20%); }
	&.badges-trees	{ @include badge-custom('tree', 70px, 7%); }
	&.badges-co2	{ @include badge-custom('co2', 40px, 7%); }
}

.progress {
    position: absolute;
    right: 20px;
    bottom: 16px;
    width: 65px;
    height: 140px;
    background: rgba($white, 0.9);
    box-shadow: 0 2px 9px rgba($black, 0.4);
    border: 9px solid rgba($white, 0.9);
    background-clip: padding-box;
    border-radius: 100%/25px;

	@media screen and (max-width: $bp_2) {
		display: none;
	}

	&:after {
		content: attr(data-label);
		font-size: 0.8rem;
		line-height: 1.2rem;
		bottom: 0.5rem;
		left: 35px;
		width: 46px;
		position: absolute;
		margin-left: -35px;
		text-align: center;
		display: block;
		text-shadow: 1px 0 2px rgba($black, 0.4);
	}

	.bar {
		border-radius: 100%/15px;
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    width: 100%;
	    top: auto;
		transition: all 1.5s ease-out;

		&.empty {
			height: 14px !important;
		}

		&:after {
			content: "";
			position: absolute;
			border-radius: 250px/50px;
			background: rgba($white, 0.4);
			height: 12px;
			width: 100%;
		}
	}

	&.this-year {
		.bar {
			background: $o_orange;
			height: 82px;
		}
		&:after {
			font-weight: 500;
		}
	}
	&.last-year {
		right: 90px;
		.bar {
		    background: $o_orange;
		    height: 122px;
		}
		&:after {
			opacity: 0.7;
		}
	}
}

.blurb {
	padding: 20px 10px 20px 120px;
	background-size: 80px;
	background-repeat: no-repeat;
	background-position: 20px 20px;
	display: block;
	color: #666;
	vertical-align: middle;
	background-color: $o_grey1;
	width: 100%;
	border-radius: 10px;
	text-shadow: 1px 0 2px rgba($white, 1);

	@media screen and (max-width: $bp_2) {
		padding-left: 90px;
		background-size: 50px;
		font-size: 1rem;
		line-height: 1.4rem;
	}

	h2 {
		font-size: 1.8rem;
		line-height: 2.2rem;
		font-weight: 300;
		color: $fontcolor_base;

		@media screen and (max-width: $bp_3) {
			font-size: 1.2rem;
			line-height: 1.6rem;
		}
	}

	&.blurb-outlet {
		background-image: url('../img/blurb-outlet.svg');
	}
}