/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/* –– VARIABLES –––––––––––––––––––––––––––––––––––––––––––––––––––––– */

$o_grey2:	#333	!default;
$o_grey1:	#fafafa !default;
$o_orange:	#fc7e03 !default;
$o_green:	#8ebe38 !default;
$o_blue1:	#2781c6 !default;
$o_blue2:	#0081c3 !default;
$black:		#000	!default;
$white:		#fff	!default;

$bp_0: 360px !default;
$bp_1: 420px !default;
$bp_2: 460px !default;
$bp_3: 560px !default;
$bp_4: 760px !default;

$speed_fadeIn:	0.1s;
$speed_badges:	0.5s;

$fontface: "Helvetica Neue", Arial, sans-serif;

$background: $o_grey1;
$fontcolor_base: $o_grey2;
$w_min: 320px;
$w_max: 960px;